.gameDetail {
  display: flex;
  flex-direction: column;
  .description {
    flex: 1;
  }
  .createRoom {
    margin-bottom: 12px;
    color: white;
  }
}

.noRooms {
  font-size: 22px;
  background: #723333;
  padding: 8px 0;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    margin-right: 5px;
  }
}
