@import '../color';

.leftArea {
  display: flex;
  flex-direction: column;
  .playerList {
    flex: 1;
    overflow-y: auto;
    .playerContent {
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
      height: 100%;
      width: 100%;
      background-color: $grey-6;
      border-radius: 5px;
    }
  }
  .messages {
    flex: 0.4;
    display: flex;
    flex-direction: column;
    .contentWrapper {
      background-color: $grey-6;
      border-radius: 5px;
      flex: 1;
      padding: 10px;
      display: flex;
      min-height: 0;
      .overflowContainer {
        flex: 1;
        overflow: auto;
        .overflowContent {
          height: 120px;
          display: flex;
          flex-direction: column;
          .message {
            margin-bottom: 5px;
            letter-spacing: 2px;
            font-size: 16px;
          }
        }
      }
    }
  }
}

.rightArea {
  height: calc(100% - 15px);
  display: flex;
  flex-direction: column;
  .settings {
    height: 100%;
    margin-bottom: 10px;
    overflow-x: auto;
  }
  .readyGame, .startGame {
    color: $white;
    height: 70px;
    font-size: 22px;
    background-color: $orange;
    margin-bottom: 10px;
    &:hover {
      background-color: #7b2e1a;
    }
  }
  .leaveRoom {
    color: $white;
  }
}

.block {
  background: $primary;
  margin-bottom: 15px;
  padding: 15px;
}

.content {
  background-color: $grey-6;
  border-radius: 5px;
}
